<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Cloud_Name" value="dubbhhxmr" />
    <add key="API_Key:" value="683321574694369" />
    <add key="API_Secret" value="j3nn4Y2y_gFkoqMYM0TmZxpR-Rs" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Server=.\SQLEXPRESS;Database=MealsManagementTest;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>